/Wine_Base_fitted.pipeline
/Wine_1_fitted.pipeline
/Wine_Lin_fitted.pipeline
/Wine_RF_fitted.pipeline
/Wine_XGB_fitted.pipeline
/Wine_Log_fitted.pipeline
/Wine_NB_fitted.pipeline
/Wine_MLP_fitted.pipeline
